@model IEnumerable<Service>

@{
    ViewData["Title"] = "Cenniki usług";    
}

<br />
<h2>Cennik usług</h2>

<div class="col-sm-2">
    <select id="Pricelist" class="custom-select" asp-items="ViewBag.Pricelist"></select>
</div>

<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                Id
            </th>
            <th>
                Kod
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Cena
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
